---
---
<footer id="colophon" itemscope="itemscope" itemtype="https://schema.org/WPFooter" role="contentinfo">
<div class="footer-width-fixer"> <div class="elementor elementor-82" data-elementor-id="82" data-elementor-type="wp-post">
<section class="elementor-section elementor-top-section elementor-element elementor-element-3f4615b elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-element_type="section" data-id="3f4615b" data-settings='{"background_background":"gradient"}'>
<div class="elementor-background-overlay"></div>
<div class="elementor-container elementor-column-gap-no">
<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e6f7d61" data-element_type="column" data-id="e6f7d61">
<div class="elementor-widget-wrap elementor-element-populated">
<div class="elementor-element elementor-element-af6ba2e elementor-widget elementor-widget-heading" data-element_type="widget" data-id="af6ba2e" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="elementor-heading-title elementor-size-default">Besoin d'un devis ?</h2> </div>
</div>
<div class="elementor-element elementor-element-dbfb2f2 elementor-widget elementor-widget-text-editor" data-element_type="widget" data-id="dbfb2f2" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
<p>N’attendez plus pour protéger et valoriser votre maison : demandez dès aujourd’hui votre devis gratuit et personnalisé. </p> </div>
</div>
<div class="elementor-element elementor-element-ed2a4d3 elementor-widget__width-auto elementor-mobile-align-justify elementor-widget-mobile__width-inherit elementor-align-left elementor-widget elementor-widget-button" data-element_type="widget" data-id="ed2a4d3" data-widget_type="button.default">
<div class="elementor-widget-container">
<div class="elementor-button-wrapper">
<a class="elementor-button elementor-button-link elementor-size-sm" href="/contact">
<span class="elementor-button-content-wrapper">
<span class="elementor-button-text">Devis gratuit</span>
</span>
</a>
</div>
</div>
</div>
<div class="elementor-element elementor-element-13f7e44 elementor-widget__width-auto elementor-mobile-align-justify elementor-widget-mobile__width-inherit elementor-align-left elementor-widget elementor-widget-button" data-element_type="widget" data-id="13f7e44" data-widget_type="button.default">
<div class="elementor-widget-container">
<div class="elementor-button-wrapper">
<a class="elementor-button elementor-button-link elementor-size-sm" href="tel:+33634922530">
<span class="elementor-button-content-wrapper">
<span class="elementor-button-icon">
<i aria-hidden="true" class="fas fa-phone"></i> </span>
<span class="elementor-button-text">Appelez-nous</span>
</span>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="elementor-section elementor-top-section elementor-element elementor-element-e2153a2 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-element_type="section" data-id="e2153a2" data-settings='{"background_background":"classic"}'>
<div class="elementor-container elementor-column-gap-no">
<div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-20e9139" data-element_type="column" data-id="20e9139">
<div class="elementor-widget-wrap elementor-element-populated">
<div class="elementor-element elementor-element-b214f0e elementor-widget elementor-widget-site-logo" data-element_type="widget" data-id="b214f0e" data-settings='{"align":"left","width":{"unit":"px","size":"120","sizes":[]},"width_mobile":{"unit":"px","size":"120","sizes":[]},"width_tablet":{"unit":"%","size":"","sizes":[]},"space":{"unit":"%","size":"","sizes":[]},"space_tablet":{"unit":"%","size":"","sizes":[]},"space_mobile":{"unit":"%","size":"","sizes":[]},"image_border_radius":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"image_border_radius_tablet":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"image_border_radius_mobile":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"caption_padding":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"caption_padding_tablet":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"caption_padding_mobile":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"caption_space":{"unit":"px","size":0,"sizes":[]},"caption_space_tablet":{"unit":"px","size":"","sizes":[]},"caption_space_mobile":{"unit":"px","size":"","sizes":[]}}' data-widget_type="site-logo.default">
<div class="elementor-widget-container">
<div class="hfe-site-logo">
<a class="elementor-clickable" data-elementor-open-lightbox="" href="/">
<div class="hfe-site-logo-set">
<div class="hfe-site-logo-container">
<img alt="default-logo" class="hfe-site-logo-img elementor-animation-" src="/assets/wp-content/uploads/2025/08/logo-ccheztoit-blanc-scaled.png"/>
</div>
</div>
</a>
</div>
</div>
</div>
<div class="elementor-element elementor-element-885046d elementor-widget elementor-widget-text-editor" data-element_type="widget" data-id="885046d" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
<p class="p1">Spécialiste du <strong>nettoyage de toiture, façade &amp; terrasse</strong> à Toulouse (<span class="s1">31</span>). </p><p class="p1">Entretien &amp; changement de toiture, réparation de faîtage, pose et remplacement de gouttières et travaux de zinguerie.</p> </div>
</div>
<div class="elementor-element elementor-element-24bf1ba elementor-shape-circle e-grid-align-left elementor-grid-4 elementor-widget elementor-widget-social-icons" data-element_type="widget" data-id="24bf1ba" data-widget_type="social-icons.default">
<div class="elementor-widget-container">
<div class="elementor-social-icons-wrapper elementor-grid" role="list">
<span class="elementor-grid-item" role="listitem">
<a class="elementor-icon elementor-social-icon elementor-social-icon-facebook elementor-repeater-item-18d91f0" href="https://www.facebook.com/people/C-Chez-To%C3%AEt/61584970113288/" target="_blank">
<span class="elementor-screen-only">Facebook</span>
<i aria-hidden="true" class="fab fa-facebook"></i> </a>
</span>
<span class="elementor-grid-item" role="listitem">
<a class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-repeater-item-3a92163" href="https://www.instagram.com/c_chez_toit/" target="_blank">
<span class="elementor-screen-only">Instagram</span>
<i aria-hidden="true" class="fab fa-instagram"></i> </a>
</span>
</div>
</div>
</div>
</div>
</div>
<div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-a671dc1" data-element_type="column" data-id="a671dc1">
<div class="elementor-widget-wrap elementor-element-populated">
<div class="elementor-element elementor-element-72c8e7e elementor-widget elementor-widget-heading" data-element_type="widget" data-id="72c8e7e" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h4 class="elementor-heading-title elementor-size-default">Navigation</h4> </div>
</div>
<section class="elementor-section elementor-inner-section elementor-element elementor-element-e991089 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-element_type="section" data-id="e991089">
<div class="elementor-container elementor-column-gap-no">
<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-fb0fd58" data-element_type="column" data-id="fb0fd58">
<div class="elementor-widget-wrap elementor-element-populated">
<div class="elementor-element elementor-element-deeac99 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-element_type="widget" data-id="deeac99" data-widget_type="icon-list.default">
<div class="elementor-widget-container">
<ul class="elementor-icon-list-items">
<li class="elementor-icon-list-item">
<a href="/">
<span class="elementor-icon-list-text">Home</span>
</a>
</li>
<li class="elementor-icon-list-item">
<a href="/a-propos-de-c-chez-toit">
<span class="elementor-icon-list-text">À propos</span>
</a>
</li>
<li class="elementor-icon-list-item">
<a href="/services">
<span class="elementor-icon-list-text">Services</span>
</a>
</li>
<li class="elementor-icon-list-item">
<a href="/projets">
<span class="elementor-icon-list-text">Projets</span>
</a>
</li>
<li class="elementor-icon-list-item">
<a href="/contact">
<span class="elementor-icon-list-text">Contact</span>
</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>
<div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-8ee3aec" data-element_type="column" data-id="8ee3aec">
<div class="elementor-widget-wrap elementor-element-populated">
<div class="elementor-element elementor-element-5827c0e elementor-widget elementor-widget-heading" data-element_type="widget" data-id="5827c0e" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h4 class="elementor-heading-title elementor-size-default">Information</h4> </div>
</div>
<div class="elementor-element elementor-element-29c38cb elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-element_type="widget" data-id="29c38cb" data-widget_type="icon-list.default">
<div class="elementor-widget-container">
<ul class="elementor-icon-list-items">
<li class="elementor-icon-list-item">
<a href="/mentions-legales">
<span class="elementor-icon-list-text">Mentions légales</span>
</a>
</li>
<li class="elementor-icon-list-item">
<a href="/politique-de-confidentialite">
<span class="elementor-icon-list-text">Politique de confidentialité</span>
</a>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-df1e615" data-element_type="column" data-id="df1e615">
<div class="elementor-widget-wrap elementor-element-populated">
<div class="elementor-element elementor-element-9806662 elementor-widget elementor-widget-heading" data-element_type="widget" data-id="9806662" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h4 class="elementor-heading-title elementor-size-default">Contact</h4> </div>
</div>
<div class="elementor-element elementor-element-234d136 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-element_type="widget" data-id="234d136" data-widget_type="icon-list.default">
<div class="elementor-widget-container">
<ul class="elementor-icon-list-items">
<li class="elementor-icon-list-item">
<a href="tel:+33634922530">
<span class="elementor-icon-list-icon">
<i aria-hidden="true" class="fas fa-phone"></i> </span>
<span class="elementor-icon-list-text">06 34 92 25 30</span>
</a>
</li>
<li class="elementor-icon-list-item">
<a href="mailto:contact@c-chez-toit.com">
<span class="elementor-icon-list-icon">
<i aria-hidden="true" class="fas fa-envelope"></i> </span>
<span class="elementor-icon-list-text">contact@c-chez-toit.com</span>
</a>
</li>
</ul>
</div>
</div>
<div class="elementor-element elementor-element-0ede87c elementor-align-left elementor-widget elementor-widget-button" data-element_type="widget" data-id="0ede87c" data-widget_type="button.default">
<div class="elementor-widget-container">
<div class="elementor-button-wrapper">
<a class="elementor-button elementor-button-link elementor-size-sm" href="/contact">
<span class="elementor-button-content-wrapper">
<span class="elementor-button-text">Faire un devis</span>
</span>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="elementor-section elementor-top-section elementor-element elementor-element-5550c1b elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-element_type="section" data-id="5550c1b" data-settings='{"background_background":"classic"}'>
<div class="elementor-container elementor-column-gap-no">
<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-43e766f" data-element_type="column" data-id="43e766f">
<div class="elementor-widget-wrap elementor-element-populated">
<div class="elementor-element elementor-element-7720eec elementor-widget elementor-widget-copyright" data-element_type="widget" data-id="7720eec" data-settings='{"align_mobile":"center","align":"left"}' data-widget_type="copyright.default">
<div class="elementor-widget-container">
<div class="hfe-copyright-wrapper">
<span>Copyright © 2026 C CHEZ TOÎT</span>
</div>
</div>
</div>
</div>
</div>
<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-92dc6b4" data-element_type="column" data-id="92dc6b4">
<div class="elementor-widget-wrap elementor-element-populated">
<div class="elementor-element elementor-element-a4da148 elementor-widget elementor-widget-copyright" data-element_type="widget" data-id="a4da148" data-settings='{"align":"right","align_mobile":"center"}' data-widget_type="copyright.default">
<div class="elementor-widget-container">
<div class="hfe-copyright-wrapper">
<span>Powered by C CHEZ TOÎT | <a href="https://microdidact.com" target="_blank" rel="noopener noreferrer" style="color: inherit; text-decoration: none;">Développé par Microdidact</a></span>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div> </footer>
