---
---
<header class="site-header header-main-layout-1 ast-primary-menu-enabled ast-logo-title-inline ast-hide-custom-menu-mobile ast-builder-menu-toggle-icon ast-mobile-header-inline" id="masthead" itemid="#masthead" itemscope="itemscope" itemtype="https://schema.org/WPHeader">
<div data-toggle-type="dropdown" id="ast-desktop-header">
<div class="ast-main-header-wrap main-header-bar-wrap">
<div class="ast-primary-header-bar ast-primary-header main-header-bar site-header-focus-item" data-section="section-primary-header-builder">
<div class="site-primary-header-wrap ast-builder-grid-row-container site-header-focus-item ast-container" data-section="section-primary-header-builder">
<div class="ast-builder-grid-row ast-builder-grid-row-has-sides ast-builder-grid-row-no-center">
<div class="site-header-primary-section-left site-header-section ast-flex site-header-section-left">
<div class="ast-builder-layout-element ast-flex site-header-focus-item" data-section="title_tagline">
<div class="site-branding ast-site-identity" itemscope="itemscope" itemtype="https://schema.org/Organization">
<span class="site-logo-img"><a aria-current="page" class="custom-logo-link" href="/" rel="home"><img alt="C CHEZ TOÎT" class="custom-logo" decoding="async" height="120" sizes="(max-width: 120px) 100vw, 120px" src="/assets/wp-content/uploads/2025/08/logo-ccheztoit-blanc-scaled-120x120.png" srcset="/assets/wp-content/uploads/2025/08/logo-ccheztoit-blanc-scaled-120x120.png 120w, /assets/wp-content/uploads/2025/08/logo-ccheztoit-blanc-scaled-300x300.png 300w, /assets/wp-content/uploads/2025/08/logo-ccheztoit-blanc-scaled-1024x1024.png 1024w, /assets/wp-content/uploads/2025/08/logo-ccheztoit-blanc-scaled-150x150.png 150w, /assets/wp-content/uploads/2025/08/logo-ccheztoit-blanc-scaled-768x768.png 768w, /assets/wp-content/uploads/2025/08/logo-ccheztoit-blanc-scaled-1536x1536.png 1536w, /assets/wp-content/uploads/2025/08/logo-ccheztoit-blanc-scaled-2048x2048.png 2048w" width="120"/></a></span> </div>
<!-- .site-branding -->
</div>
</div>
<div class="site-header-primary-section-right site-header-section ast-flex ast-grid-right-section">
<div class="ast-builder-menu-1 ast-builder-menu ast-flex ast-builder-menu-1-focus-item ast-builder-layout-element site-header-focus-item" data-section="section-hb-menu-1">
<div class="ast-main-header-bar-alignment"><div class="main-header-bar-navigation"><nav aria-label="Navigation principale du site" class="site-navigation ast-flex-grow-1 navigation-accessibility site-header-focus-item" id="primary-site-navigation-desktop" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement"><div class="main-navigation ast-inline-flex"><ul class="main-header-menu ast-menu-shadow ast-nav-menu ast-flex submenu-with-border stack-on-mobile" id="ast-hf-menu-1"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-390 current_page_item menu-item-201" id="menu-item-201"><a aria-current="page" class="menu-link" href="/">Accueil</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-202" id="menu-item-202"><a class="menu-link" href="/a-propos-de-c-chez-toit">À propos</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-205" id="menu-item-205"><a class="menu-link" href="/services">Services</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-204" id="menu-item-204"><a class="menu-link" href="/projets">Projets</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-203" id="menu-item-203"><a class="menu-link" href="/contact">Contact</a></li>
</ul></div></nav></div></div> </div>
<div class="ast-builder-layout-element ast-flex site-header-focus-item ast-header-button-1" data-section="section-hb-button-1">
<div class="ast-builder-button-wrap ast-builder-button-size-"><a aria-label="Devis gratuit !" class="ast-custom-button-link" href="/contact" role="button" target="_self">
<div class="ast-custom-button">Devis gratuit !</div>
</a><a class="menu-link" href="/contact" target="_self">Devis gratuit !</a></div> </div>
</div>
</div>
</div>
</div>
</div>
</div> <!-- Main Header Bar Wrap -->
<div class="ast-mobile-header-wrap" data-type="dropdown" id="ast-mobile-header">
<div class="ast-main-header-wrap main-header-bar-wrap">
<div class="ast-primary-header-bar ast-primary-header main-header-bar site-primary-header-wrap site-header-focus-item ast-builder-grid-row-layout-default ast-builder-grid-row-tablet-layout-default ast-builder-grid-row-mobile-layout-default" data-section="section-primary-header-builder">
<div class="ast-builder-grid-row ast-builder-grid-row-has-sides ast-builder-grid-row-no-center">
<div class="site-header-primary-section-left site-header-section ast-flex site-header-section-left">
<div class="ast-builder-layout-element ast-flex site-header-focus-item" data-section="title_tagline">
<div class="site-branding ast-site-identity" itemscope="itemscope" itemtype="https://schema.org/Organization">
<span class="site-logo-img"><a aria-current="page" class="custom-logo-link" href="/" rel="home"><img alt="C CHEZ TOÎT" class="custom-logo" decoding="async" height="120" sizes="(max-width: 120px) 100vw, 120px" src="/assets/wp-content/uploads/2025/08/logo-ccheztoit-blanc-scaled-120x120.png" srcset="/assets/wp-content/uploads/2025/08/logo-ccheztoit-blanc-scaled-120x120.png 120w, /assets/wp-content/uploads/2025/08/logo-ccheztoit-blanc-scaled-300x300.png 300w, /assets/wp-content/uploads/2025/08/logo-ccheztoit-blanc-scaled-1024x1024.png 1024w, /assets/wp-content/uploads/2025/08/logo-ccheztoit-blanc-scaled-150x150.png 150w, /assets/wp-content/uploads/2025/08/logo-ccheztoit-blanc-scaled-768x768.png 768w, /assets/wp-content/uploads/2025/08/logo-ccheztoit-blanc-scaled-1536x1536.png 1536w, /assets/wp-content/uploads/2025/08/logo-ccheztoit-blanc-scaled-2048x2048.png 2048w" width="120"/></a></span> </div>
<!-- .site-branding -->
</div>
</div>
<div class="site-header-primary-section-right site-header-section ast-flex ast-grid-right-section">
<div class="ast-builder-layout-element ast-flex site-header-focus-item" data-section="section-header-mobile-trigger">
<div class="ast-button-wrap">
<button aria-expanded="false" aria-label="Main menu toggle" class="menu-toggle main-header-menu-toggle ast-mobile-menu-trigger-fill" type="button">
<span class="screen-reader-text">Main Menu</span>
<span class="mobile-menu-toggle-icon">
<span aria-hidden="true" class="ahfb-svg-iconset ast-inline-flex svg-baseline"><svg class="ast-mobile-svg ast-menu-svg" fill="currentColor" height="24" version="1.1" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M3 13h18c0.552 0 1-0.448 1-1s-0.448-1-1-1h-18c-0.552 0-1 0.448-1 1s0.448 1 1 1zM3 7h18c0.552 0 1-0.448 1-1s-0.448-1-1-1h-18c-0.552 0-1 0.448-1 1s0.448 1 1 1zM3 19h18c0.552 0 1-0.448 1-1s-0.448-1-1-1h-18c-0.552 0-1 0.448-1 1s0.448 1 1 1z"></path></svg></span><span aria-hidden="true" class="ahfb-svg-iconset ast-inline-flex svg-baseline"><svg class="ast-mobile-svg ast-close-svg" fill="currentColor" height="24" version="1.1" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M5.293 6.707l5.293 5.293-5.293 5.293c-0.391 0.391-0.391 1.024 0 1.414s1.024 0.391 1.414 0l5.293-5.293 5.293 5.293c0.391 0.391 1.024 0.391 1.414 0s0.391-1.024 0-1.414l-5.293-5.293 5.293-5.293c0.391-0.391 0.391-1.024 0-1.414s-1.024-0.391-1.414 0l-5.293 5.293-5.293-5.293c-0.391-0.391-1.024-0.391-1.414 0s-0.391 1.024 0 1.414z"></path></svg></span> </span>
</button>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="ast-mobile-header-content content-align-flex-start">
<div class="ast-builder-menu-mobile ast-builder-menu ast-builder-menu-mobile-focus-item ast-builder-layout-element site-header-focus-item" data-section="section-header-mobile-menu">
<div class="ast-main-header-bar-alignment"><div class="main-header-bar-navigation"><nav aria-label="Navigation du site : Primary Menu" class="site-navigation ast-flex-grow-1 navigation-accessibility site-header-focus-item" id="ast-mobile-site-navigation" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement"><div class="main-navigation"><ul class="main-header-menu ast-nav-menu ast-flex submenu-with-border astra-menu-animation-fade stack-on-mobile" id="ast-hf-mobile-menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-390 current_page_item menu-item-201"><a aria-current="page" class="menu-link" href="/">Accueil</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-202"><a class="menu-link" href="/a-propos-de-c-chez-toit">À propos</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-205"><a class="menu-link" href="/services">Services</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-204"><a class="menu-link" href="/projets">Projets</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-203"><a class="menu-link" href="/contact">Contact</a></li>
</ul></div></nav></div></div> </div>
</div>
</div>
</header>
